/* webapp.css

HDip ICT Enterprise Project

css code in this file is adapted from code contained in
main.css, available at http://code.tutsplus.com/tutorials/an-introduction-to-python-flask-framework--net-28822

*/

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 2.2em;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}


/* login status */
#login {
  text-align: right;
  font-size: 0.8em;
}

/*
 * Center the body content
 */
  
.container {
  width: 45em;
  margin: 0 auto;
}

/* homepage main */ 
div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}
 
h2 {
  font-size: 2.5em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: left;
  letter-spacing: -1px;
  color: #999;
}

h3.home {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

a.links {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: -1px;
  color: black;
  text-decoration: none;
}

div.results {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 9.5em;
  width: 30em;
  padding: 10px 0 20px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}

p.results {
	font-size: 1.0em;
	text-align: center;
	letter-spacing: -1px;
	color: black;
}

h3.results {
  font-size: 1.7em;
  margin-bottom: -0.5em;

  text-align: center;
  letter-spacing: -1px;
  color: #525252;
  font-weight: bold;
}

.convertLink {
	display: block;	
	border: 1px solid #d8d8d8;
	border-radius: 0.4em;
	font-weight: bold; 
	text-align: center; 
	color: #000000; 
	background-color: #f4f4f4;	
  float: left;    
}

.convertPanel a:link, .convertPanel a:visited { 
	color: black;
	font-size: 1.0em;
	font-weight: bold;
	padding: 1em;
	text-decoration: none;
}
.convertPanel a:hover { 
	background-color: gainsboro; 
}


/* Contact form */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
 
form #fromCurrency,
form #toCurrency {
  width: 14em;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

form #conversionAmount {
  width: 7em;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
 
form input#convertButton,
form input#clearButton,
form input#enterButton,
form input#submit {
	margin-top: 0.8em;
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px; 
  font-weight:bold; 
  font-size: 1.0em;
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#convertButton:hover,
form input#clearButton:hover,
form input#enterButton:hover,
form input#submit:hover 
{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}

form input#enterButton {
  margin-left: auto;
  margin-right: auto;
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
  border-radius: 0.2em;
}

/* Signup form */
form input#email,
form input#password {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
 
form input#password {
  margin-bottom: 10px;
}

